<div class="container container-lg mt-lg-5 pt-lg-5">
  <div class="row mt-5 pt-lg-5">
    <div class="col-12 mt-5 pt-5 mt-lg-0 pt-lg-0">
      <h2 class="text-uppercase text-11 black">Política de<span class="text-red"> privacidade</span>.</h2>
    </div>
    <div class="col-12 mb-5 pb-5">
      <p>
        Na Lingote S.A. estamos comprometidos em proteger a privados e os dados pessoais dos utilizadores deste website. De facto, ao aceder a determinadas funcionalidades disponibilizadas neste website, poderá ser-lhe solicitado que nos forneça
        informações pessoais, sempre que necessário, para lhe prestar um serviço, informação ou quando assim o autorizar expressa e inequivocamente. Assim, em cumprimento do princípio de transparência, criámos esta política de privacidade que
        esperamos que o ajude a compreender como é que os dados que nos faculta são utilizados, para que fins, durante quanto tempo, a quem são transmitidos e sob que medidas de segurança.
      </p>
      <p>
        Deste modo, ao aceder à nossa página web estará a consentir com os termos descritos nesta Política de Privacidade, no seu todo.
      </p>
      <p class="bold"><span class="mr-3">1.</span>Quem é o responsável pela recolha e tratamento dos seus dados pessoais?</p>
      <p>
        O presente website é propriedade da Lingote – Alumínios S.A., NIPC 503257737, com sede na Zona Industrial do Socorro, Lote 82, (4820-570) Fafe. Os dados pessoais que aqui disponibilizar serão sempre geridos por esta empresa, enquanto sua
        controladora e responsável pelo seu tratamento, segundo o Regulamento (UE) 2016/679, do Parlamento Europeu e do Conselho, de 27 de abril de 2016 – daqui em diante referido por RGPD.
      </p>
      <p class="bold"><span class="mr-3">2.</span>Que dados pessoais lhe vão ser pedidos? </p>
      <p>
        Ao utilizar e navegar pelo nosso website, poderão ser recolhidos e tratados pela Lingote – Alumínios S.A. os dados pessoais que de forma voluntária, expressa e inequivocamente nos fornece mediante o preenchimento dos formulários constantes na
        nossa página de internet. Em qualquer caso, não serão recolhidas mais informações que as necessárias para as finalidades anunciadas e que nos permitam processar o seu pedido, de forma a solucionar problemas existentes e promover a satisfação
        dos nossos clientes e utilizadores desta plataforma. <br>
        Dependendo da forma e do fim para que são utilizados, ao preencher os formulários presentes no nosso website, podemos solicitar os seguintes dados pessoais:
      </p>
      <ol class="list list-ordened pl-0">
        <li class="mb-0">
          <p class="mb-0">Dados mestres, tais como o nome e género;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Informações de contacto, endereço de email;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Dados de candidatura, tais como, habilitações literárias, competências, experiência profissional, bem como as informações que resultem do próprio CV</p>
        </li>
      </ol>
      <p class="bold"><span class="mr-3">3.</span>Para que fim pedimos e tratamos esses dados?</p>
      <p>
        Os dados recolhidos nos formulários disponíveis no nosso website serão usados, de forma exclusiva, para a prossecução das seguintes finalidades:
      </p>
      <ol class="list list-ordened pl-0">
        <li class="mb-0">
          <p class="mb-0">No âmbito da execução de contrato: gestão de eventuais reclamações;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">No âmbito da prossecução de interesses legítimos da Lingote – Alumínios S.A.: Gestão da relação comercial com clientes;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">No âmbito do consentimento: para envio de newsletters;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">No âmbito de recrutamento de colaboradores;</p>
        </li>
      </ol>
      <p class="bold"><span class="mr-3">4</span>Em que momento pedimos esses dados?</p>
      <p>Os seus dados ser-lhe-ão pedidos, apenas e só, quando absolutamente necessários, quando, para tanto, a Lingote – Alumínios S.A tiver legitimidade, sempre em segurança e nunca utilizados para finalidades diferentes das anunciadas. <br>
        O momento em que tal acontece, contudo, irá variar e depender das circunstâncias em concreto, de entre as quais, as seguintes:
      </p>
      <p class="bold"><span class="mr-3">4.1.</span>Quando nos contacta diretamente pelos contactos disponíveis no website</p>
      <p>Se nos contactar, mediante envio de sugestões ou reclamações, será necessário pedir alguns dos seus dados pessoais por intermédio do preenchimento de formulários de contacto, para que possamos comunicar consigo e resolver a questão.
        Independentemente do assunto, teremos que manter os seus dados de identificação e contacto na nossa base de dados, para poder fornecer-lhe resposta à sua reclamação/sugestão.
      </p>
      <p class="bold"><span class="mr-3">4.2.</span>Envio de newsletters</p>
      <p>No nosso website poderá ainda registar-se para receber a nossa newsletter e informações sobre as nossas iniciativas e atividade. Se para isso consentir de forma expressa e inequívoca, poderá ser necessário recolher o seu endereço eletrónico.
        <br>
        Os dados que nos disponibilizar neste momento não serão tratados para outro fim que não o anunciado ou algum compatível com este, assumindo a Lingote – Alumínios S.A. um compromisso de privacidade e segurança no processamento e na manutenção
        dos dados de cada cliente.
      </p>
      <p class="bold"><span class="mr-3">5</span>Com quem partilhamos os seus dados pessoais?</p>
      <p>Os seus dados pessoais serão disponibilizados à Lingote – Alumínios S.A. enquanto Responsável pelo Tratamento.
        <br>
        Estes dados não serão revelados a terceiros em nenhuma circunstância, excetuando os casos em que, por impositivo legal, a Lingote – Alumínios S.A. seja obrigada a fazê-lo.
      </p>
      <p class="bold"><span class="mr-3">6</span>Onde são armazenados os seus dados pessoais?</p>
      <p>Os dados pessoais que fornecer à Lingote – Alumínios S.A. através deste website serão armazenados em servidores localizados no Espaço Económico Europeu. De todo o modo, caso a Lingote – Alumínios S.A. venha a proceder ao arquivo dos seus
        dados pessoais em servidores localizados em regiões terceiras, apenas o fará em territórios que ofereçam o mesmo tipo de proteção dos dados pessoais que a exigida na União Europeia, ou seja, que demonstrem um nível de proteção adequado.
      </p>
      <p class="bold"><span class="mr-3">7</span>Durante quanto tempo armazenamos os seus dados pessoais?</p>
      <p>A Lingote – Alumínios S.A conservará os seus dados pessoais durante o tempo necessário para os fins citados ou, quando aplicável, pelo tempo exigido por lei. Os prazos de conservação variam de acordo com o tipo de dados tratados e as suas
        finalidades, estando definidos, caso a caso. <br>
        Após esse período de tempo, os seus dados pessoais serão anonimizados ou eliminados da base de dados da Lingote - Alumínios S.A..
      </p>
      <p class="bold"><span class="mr-3">8</span>Os seus dados são tratados de forma segura?</p>
      <p>
        A Lingote - Alumínios S.A. preocupa-se com a segurança dos dados pessoais que nos forneça através deste website, pelo que implementa as medidas de segurança, técnicas, organizacionais e administrativas adequadas à proteção dos dados
        armazenados, seja contra a sua perda, uso indevido e/ou acesso não autorizado, divulgação, alteração e destruição
        <br>
        A Lingote - Alumínios S.A. exige ainda aos seus subcontratantes e responsáveis conjuntos pelo tratamento a adoção de medidas de segurança equivalentes àquelas que pratica, designadamente através da inclusão de deveres de sigilo e
        confidencialidade nos acordos celebrados com estas entendidas.
      </p>
      <p class="bold"><span class="mr-3">9</span>Quais são os seus direitos?</p>
      <p>
        O utilizador, enquanto titular de dados, tem o direito de solicitar informação sobre os seus dados pessoais, de forma a compreender o que a Lingote - Alumínios S.A. conserva ou sabe sobre si, a qualquer momento, razoavelmente e sem custos.
        <br>
        O direito de acesso, retificação, apagamento, oposição, limitação ao tratamento ou a portabilidade dos seus dados pessoais, nos termos do Regulamento Geral de Proteção de Dados da UE (RGPD), pode ser exercido através da alteração do seu
        perfil na área pessoal da nossa app ou através do enderenço eletrónico protecao.dados@lingote.com .
        <br>
        A Lingote - Alumínios S.A. analisará seu pedido e responderá o mais rapidamente possível, sempre que possível, no prazo máximo de 30 dias.
      </p>
      <p class="bold"><span class="mr-3">10</span>Alterações à Política de Privacidade</p>
      <p>A presente política de privacidade poderá, a qualquer altura e sempre que tal se julgue necessário, ser objeto de alterações ou reajustamentos. Por isso, ainda que essas alterações sejam devidamente publicitadas, recomendamos que visite esta
        página de forma regular, para leitura e análise da versão mais atualizada.
      </p>
      <p>
        Última atualização: Março de 2021
      </p>
    </div>
  </div>
</div>
