/* * { border: 1px solid red; } */
:root {
  --text-red: #CE0E2D;
  --text-orange: #F18A00;
  --text-lightgreen: #B8BE14;
  --background-darkgrey: #222222;
  --background-red: #CE0E2D;
}

.bg-dark-lingote {
  background: #222222;
}

.hamburguer span {
  display: block;
  width: 45px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: #FFFFFF;
  border-radius: 0;
  z-index: 1;
}

.hamburguer span:nth-child(2) {
  float: right;
  width: 35px;
  height: 3px;
}

.hamburguer-close span {
  display: block;
  width: 45px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: #FFFFFF;
  border-radius: 0;
  z-index: 1;
}

.menu-mobile-close span {
  width: 35px;
}

.mobile-lang {
  color: white;
  font-family: Axiforma-Black, Open-Sans;
  text-align: center;
  border-right: 2px solid white;
  line-height: 15px;
}

.mobile-lang:nth-child(5) {
  border-right: none;
}

/* INPUTS  */
.checkbox-label {
  margin-left: .7rem;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border: 1px solid #FFF;
  border-radius: 0;
  background-color: #222222;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

textarea {
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: var(--text-red) !important;
  text-transform: uppercase;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-red) !important;
  text-transform: uppercase;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-red) !important;
  text-transform: uppercase;
}

textarea:-ms-input-placeholder {
  color: var(--text-red) !important;
  text-transform: uppercase;
}

textarea::placeholder {
  color: var(--text-red) !important;
  text-transform: uppercase;
}

/* GENERAL  */
.deslize {
  position: fixed;
  right: 2vw;
  top: 70vh;
  transform-origin: right center;
  transform: rotate(90deg);
  z-index: 99;
}

.deslize p {
  font-family: Axiforma-Black, Open-Sans;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 0;
}

.deslize p::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-right: -100%;
  margin-left: 20px;
  border-top: 2px solid #CE0E2D;
}

.line-center {
  position: absolute;
  left: 50%;
  top: 100%;
}

.red-square {
  background: red;
}

.lingote-padding {
  padding: 3rem 16rem 0 6rem;
}

/* MENU  */
.menu-separator {
  margin: 0 !important;
  padding: 0 !important;
}

/* Linha 3919 default.css hover geral */
.menu-separator:hover {
  cursor: default;
}

.btn-menu {
  background: #262525;
  text-transform: uppercase;
  padding: .3rem 1rem;
}

.btn-menu:hover {
  color: white;
}

.menu-mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #222222;
  z-index: 1031;
}

.menu-mobile-dropdown {
  margin-top: 25%;
}

.menu-mobile-dropdown p {
  color: white;
  text-transform: uppercase;
  font-family: Axiforma-Black, Open-Sans;
}

.menu-mobile-dropdown a:active {
  background: transparent;
}

.btn-menu-mobile {
  text-transform: uppercase;
  font-family: Axiforma-Black, Open-Sans;
  -webkit-box-shadow: 0px 0px 50px -19px #000000;
  box-shadow: 0px 0px 10px -5px #000000;
}

.text-orange {
  color: var(--text-orange);
}

.text-lightgreen {
  color: var(--text-lightgreen);
}

/* .FOOTER  */
.footer-link {
  margin: 0;
  color: #FFFFFF;
  font-family: Axiforma-Bold, Open-Sans;
}

.underline {
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}

/* BOXES */
.box-missao {
  padding: 7rem;
  width: 45rem;
  position: absolute;
  background: white;
  z-index: 30;
  left: 15%;
  bottom: 35%;
}

.box-certificacoes {
  padding: 5rem 8rem 5rem 5rem;
  width: 60rem;
  position: relative;
  background: white;
  z-index: 30;
  left: 10%;
}

.box-contacto {
  padding: 4rem 0rem 4rem 8rem;
}

.box-contacto-form {
  padding: 6rem 6rem 5rem 6rem;
  position: absolute;
  min-width: 63vw;
  right: 0;
  margin-top: 7rem;
  height: 45rem;
  -webkit-box-shadow: -5px -3px 27px 3px rgba(0, 0, 0, 0.44);
  box-shadow: -5px -3px 27px 3px rgba(0, 0, 0, 0.44);
}

.underline-red {
  text-decoration: underline;
  text-decoration-color: #CE0E2D;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.box-shadow {
  -webkit-box-shadow: -7px 10px 53px -11px rgba(110, 110, 110, 0.55);
  -moz-box-shadow: -7px 10px 53px -11px rgba(110, 110, 110, 0.55);
  box-shadow: -7px 10px 53px -11px rgba(110, 110, 110, 0.55);
}

/* SLIDE  */
.slide-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-family: Axiforma-Black, Open-Sans;
  color: #FFF !important;
  text-align: center;
}

.slide-text-1 {
  font-family: Axiforma-Black, Open-Sans;
  color: #FFFFFF;
  font-size: 3rem;
}

.text-red {
  color: var(--text-red) !important;
}

.slide-text-2 {
  font-family: Axiforma-Bold, Open-Sans;
  color: #FFF;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2em;
}

/* NEWS  */
/* MODAL */
.modal {
  height: 95vh !important;
}

.modal-dialog {
  max-width: 95vw;
  margin: 0 auto;
  margin-top: 5vh;
}

.modal-content {
  height: inherit;
  border-radius: 0;
}

.news-content {
  max-height: 35rem;
  overflow-y: auto;
  padding-right: 3rem;
}

.news-content::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.news-content::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #000000 14%, #000000 64%);
  border-radius: 15px;
}

.news-content::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #000000 14%, #000000 64%);
}

.news-content::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 7px 0px 12px #f0f0f0;
}

.modal-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-red);
  font-family: Axiforma-Regular, Open-Sans;
}

.close {
  position: absolute;
  top: 20px;
  right: 45px;
  opacity: 1;
  font-size: 2.5rem;
  font-weight: normal;
  z-index: 1;
  text-shadow: none;
}

.close:focus {
  outline: none;
  border: none;
}

/* END MODAL */
.modal-button:focus {
  outline: none;
  border: none;
}

.post-content h2 {
  color: #222222;
  font-family: Axiforma-Black, Open-Sans;
  text-transform: uppercase;
}

.post-image {
  height: 25rem;
}

.post-image a {
  height: inherit;
}

.post-image img {
  height: inherit;
  object-fit: cover;
  width: 100%;
}

.date {
  color: #818181;
}

/* INPUT  */
input::placeholder {
  color: #CE0E2D !important;
  text-transform: uppercase;
}

.custom-file {
  border-bottom: 2px solid white !important;
}

.custom-file-input {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file-input+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}

.custom-file-label-frutasclasse {
  font-family: Axiforma-Regular, Open Sans !important;
  color: #CE0E2D;
  text-transform: uppercase;
}

.checkbox-label {
  color: #FFFFFF;
  font-family: Axiforma-Regular, Open-Sans;
}

/* BACKGROUNDS  */
.bg-darkgrey {
  background: var(--background-darkgrey);
}

.bg-red {
  background: var(--background-red);
}

/* FONTS  */
.regular {
  font-family: Axiforma-Regular, Open-Sans;
}

.black {
  font-family: Axiforma-Black, Open-Sans;
}

.medium {
  font-family: Axiforma-Medium, Open-Sans;
}

.bold {
  font-family: Axiforma-Bold, Open-Sans;
}

.extrabold {
  font-family: Axiforma-ExtraBold, Open-Sans;
}

.italic {
  font-family: Axiforma-Italic, Open-Sans;
}

.light {
  color: #818181;
}

/* MEDIA QUERIES  */
/* general  */
@media (max-width: 575.98px) {
  .slide-text-1 {
    font-size: 1.8rem;
    padding: 0 2.5rem;
  }

  .slide-text-2 {
    font-size: .9rem;
    padding: 0 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-text-1 {
    font-size: 2.2rem;
  }

  .slide-text-2 {
    width: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-text-1 {
    font-size: 2.2rem;
  }

  .slide-text-2 {
    width: 100%;
    font-size: 1rem;
  }

  .news-detail-img {
    height: 50vh;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .slide-text-1 {
    font-size: 2.2rem;
  }

  .slide-text-2 {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .slide-text-2 {
    padding: 0 10rem;
  }
}

@media (max-width: 575.98px) {
  .box-contacto {
    padding: 4rem 2rem;
  }

  .modal {
    height: 100vh !important;
  }

  .modal-dialog {
    max-width: none;
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .slide-center {
    width: 100%;
  }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {
  ...
}

/* custom media queries */
@media (min-width: 1024px) and (max-width: 1299px) {
  .box-missao {
    width: 40rem;
    left: 10%;
    bottom: -6%;
  }

  .box-certificacoes {
    width: 35rem;
  }

  .box-contacto {
    padding: 4rem 3rem 1rem 3rem;
  }
}

@media (min-width: 1300px) and (max-width: 1800px) {
  .box-certificacoes {
    width: 60rem;
  }
}

@media (max-width: 1310px) {
  #header .header-nav-main nav > ul > li {
    margin-left: 0 !important;
  }
}
@media (max-width: 1150px) {
  #header .header-nav.header-nav-links nav > ul > li > a, #header .header-nav.header-nav-links nav > ul > li:hover > a, #header .header-nav.header-nav-line nav > ul > li > a, #header .header-nav.header-nav-line nav > ul > li:hover > a {
    padding: 0 .3rem !important;
  }
}
