@font-face {
  font-family: "Axiforma-Regular";
  src: local('Axiforma-Regular'), url('./fonts/Axiforma-Regular.woff2');
}

@font-face {
  font-family: "Axiforma-Black";
  src: local('Axiforma-Black'), url('./fonts/Axiforma-Black.woff2');
}

@font-face {
  font-family: "Axiforma-Medium";
  src: local('Axiforma-Medium'), url('./fonts/Axiforma-Medium.woff2');
}

@font-face {
  font-family: "Axiforma-Bold";
  src: local('Axiforma-Bold'), url('./fonts/Axiforma-Bold.woff2');
}

@font-face {
  font-family: "Axiforma-ExtraBold";
  src: local('Axiforma-ExtraBold'), url('./fonts/Axiforma-ExtraBold.woff2');
}

@font-face {
  font-family: "Axiforma-Italic";
  src: local('Axiforma-Italic'), url('./fonts/Axiforma-Italic.woff2');
}
