<div class="slider-container rev_slider_wrapper" style="height: 100vh; z-index: 1">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
  data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 6000, 'gridwidth': 1140, 'gridheight': 800, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1300,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50]}, 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'center', 'space': 2, 'v_offset': 100, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/slides/banner/slide1.png"
          alt="Home"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">
        </li>
      <li data-transition="fade">
          <img src="{{url_base}}/assets/img/slides/banner/slide2.png"
          alt="Home"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">
      </li>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/slides/banner/slide3.png"
          alt="Home"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">
          </li>
    </ul>
    <div class="slide-center">
      <p class="slide-text-1">LINGOTE <span class="text-red">ALUMÍNIOS</span></p>
      <p class="slide-text-2">Extrusão de alumínio, com ou sem tratamento de superfície. Comercialização de perfis de alumínio e acessórios de caixilharia.</p>
    </div>
  </div>
</div>

<!-- <p class="tp-caption text-white black"
      data-x="['center','center','center','center']"
      data-y="['center','center','center','center']"
      data-voffset="['0','0','0','0']"
      data-hoffset="['0','0','0','0']"
      data-start="1000"
      data-fontsize="['47','47','50','90']"
      data-transform_in="y:[-50%];opacity:0;s:500;"
      data-width="['600','600','600','1000']"
      data-lineheight="['55', '45', '45', '45']"
      data-whitespace="['normal', 'normal', 'normal', 'normal']"
      data-textAlign="['center', 'center', 'center', 'center']"
      data-paddingbottom="[15, 10, 10, 10]"
      data-basealign="slide">
    LINGOTE <span class="text-slide-red">ALUMÍNIOS</span>
    </p>

<p class="tp-caption text-slide-2 bold"
      data-x="['center','center','center','center']"
      data-y="['center','center','center','center']"
      data-voffset="['60','60','120','160']"
      data-hoffset="['0','0','0','0']"
      data-start="1000"
      data-fontsize="['15','17','30','40']"
      data-transform_in="y:[-50%];opacity:0;s:500;"
      data-width="['550','550','800','1000']"
      data-lineheight="['20', '20', 35', '55']"
      data-whitespace="['normal', 'normal', 'normal', 'normal']"
      data-textAlign="['center', 'center', 'center', 'center']"
      data-basealign="slide">
    Extrusão de alumínio, com ou sem tratamento de superfície. Comercialização de perfis de alumínio e acessórios de caixilharia.
    </p> -->
