{% include 'Includes/deslize.html' %}

<footer id="footer">
  <div class="container-fluid px-lg-4">
    <div class="row py-lg-5">
      <div class="col-md-4 d-flex justify-content-start">
          <img alt="Lingote" src="{{url_base}}/assets/img/logos/lingote-logo.svg">
      </div>
      <div class="col-lg-2 d-flex align-items-center">
        <a href="{{url_base}}/termos_condicoes"><p class="footer-link underline text-4 text-lg-3 my-3 my-lg-0">Termos e condições</p></a>
      </div>
      <div class="col-lg-2 d-flex align-items-center">
            <a href="{{url_base}}/politica"><p class="footer-link underline text-4 text-lg-3 my-3 my-lg-0">Politica de privacidade</p></a>
      </div>
      <div class="col-lg-2 d-flex align-items-center">
            <a href="javascript:void(0);"><p class="footer-link text-4 text-lg-3 my-3 my-lg-0">Acompanhe-nos<img src="{{url_base}}/assets/img/icons/social/linkedin.svg" alt="linkedin" class="img-fluid ml-3 mb-3"></p></a>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-lg-end mb-5 pb-3 pb-lg-0 mb-lg-0">
          <a href="https://www.livroreclamacoes.pt/" target="_blank"><img src="{{url_base}}/assets/img/icons/livro_reclamacoes.svg" alt="livro_reclamacoes" class="ml-lg-3 mb-lg-3"></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright footer-copyright-style-2">
    <div class="container-fluid px-lg-5">
      <div class="row pb-4 pt-1">
        <div class="col-md-4 d-flex align-items-center justify-content-start mb-2 mb-lg-0">
          <p class="text-red text-4 text-lg-2">Apoios.<img src="{{url_base}}/assets/img/logos/apoios.svg" alt="apoios" class="img-fluid ml-4 mt-1"></p>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-start justify-content-md-end mb-4 mb-lg-0">
          <a href="https://unify.pt/" target="_blank"><p class="text-red text-4 text-lg-2">Designed by<img src="{{url_base}}/assets/img/icons/unify.svg" alt="unify" class="img-fluid ml-3 mb-1"></p></a>
        </div>
      </div>
    </div>
  </div>
</footer>

</div>

<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<!-- <script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script> -->

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>
<script src="{{url_base}}/js/Controller/Menu.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>



</body>

</html>
