<!DOCTYPE html>
<html>

<head>

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Lingote</title>

		<meta name="keywords" content="" />
		<meta name="description" content="">
		<meta name="author" content="unify.pt">

		<!-- Favicon -->

		<link rel="apple-touch-icon" sizes="180x180" href="{{url_base}}/assets/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{url_base}}/assets/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{url_base}}/assets/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{url_base}}/assets/img/favicon/site.webmanifest">
		<link rel="mask-icon" href="{{url_base}}/assets/img/favicon/safari-pinned-tab.svg" color="#000000">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">


		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="{{url_base}}/assets/css/fonts.css" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-elements.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-blog.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/navigation.css">

		<!-- Demo CSS -->

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/custom.css">

		<!-- Head Libs -->
		<script src="{{url_base}}/assets/vendor/modernizr/modernizr.min.js"></script>

	</head>

<body class="loading-overlay-showing" data-loading-overlay data-plugin-options="{'hideDelay': 500}">
	<div class="body">
