<header id="header" class="header-effect-shrink"
  data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': false, 'stickyStartAt': {% if module|lower == 'site' %} 100 {% else %} 0 {%  endif %}, 'stickyHeaderContainerHeight': 80}">
  <div class="header-body {% if module|lower != 'site' %} bg-dark-lingote {%  endif %}">
    <div class="header-container container-fluid">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo header-logo-sticky-change" style="width: 120px; height: 60px;">
              <a data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#header" {% else %} href="{{url_base}}/#header" {%  endif %}>
                <img class="header-logo-non-sticky opacity-0" alt="Lingote" width="150" height="60" src="{{url_base}}/assets/img/logos/lingote-logo.svg">
                <img class="header-logo-sticky opacity-0" alt="Lingote" width="55" height="60" src="{{url_base}}/assets/img/logos/lingote-logo2.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-center">
          <div class="header-row">
            <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
              <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="dropdown">
                      <a class="dropdown-item" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#lingote" {% else %} href="{{url_base}}/#lingote" {%  endif %}>
                        A Lingote.
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#certificacoes" {% else %} href="{{url_base}}/#certificacoes" {%  endif %}>
                        Certificações.
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#recrutamento" {% else %} href="{{url_base}}/#recrutamento" {%  endif %}>
                        Recrutamento.
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#noticias" {% else %} href="{{url_base}}/#noticias" {%  endif %}>
                        Notícias.
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#contactos" {% else %} href="{{url_base}}/#contactos" {%  endif %}>
                        Contactos.
                      </a>
                    </li>
                    <li class="dropdown pr-1">
                      <a class="dropdown-item pr-0" href="javascript:void(0);">
                        <button type="button" class="btn btn-menu text-orange rounded-0">Indústria</button>
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item pl-1" href="javascript:void(0);">
                        <button type="button" class="btn btn-menu text-lightgreen rounded-0">Sistemas</button>
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item px-0 lang" lang="pt" href="javascript:void(0);">
                        PT
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="menu-separator" href="javascript:void(0);">
                        |
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item px-0 lang" lang="en" href="javascript:void(0);">
                        EN
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="menu-separator" href="javascript:void(0);">
                        |
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item px-0 lang" lang="fr" href="javascript:void(0);">
                        FR
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="menu-separator" href="javascript:void(0);">
                        |
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item pl-0 lang" lang="es" href="javascript:void(0);">
                        ES
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <button class="btn header-btn-collapse-nav open-menu-mobile">
                <span class="hamburguer">
                  <span></span>
                  <span></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MENU MOBILE  -->
  <div class="menu-mobile" style="display:none;">
    <div class="container-fluid px-0">
      <div class="header-row">
        <div class="col">
          <div class="header-logo">
            <a href="javascript:void(0);">
              <img class="img-fluid" alt="Lingote" src="{{url_base}}/assets/img/logos/lingote-logo2.svg">
            </a>
          </div>
        </div>
        <div class="col mobile-lang">
          <a class="lang" lang="pt">PT</a>
        </div>
        <div class="col mobile-lang">
          <a class="lang" lang="fr">EN</a>
        </div>
        <div class="col mobile-lang">
          <a class="lang" lang="fr">FR</a>
        </div>
        <div class="col mobile-lang">
          <a class="lang" lang="es">ES</a>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <ul class="list-unstyled menu-mobile-dropdown">
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#lingote" {% else %} href="{{url_base}}/#lingote" {%  endif %}>
              <p class="text-9 py-2">A Lingote</p>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#certificacoes" {% else %} href="{{url_base}}/#certificacoes" {%  endif %}>
              <p class="text-9 py-2">Certificações.</p>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#recrutamento" {% else %} href="{{url_base}}/#recrutamento" {%  endif %}>
              <p class="text-9 py-2">Recrutamento.</p>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#noticias" {% else %} href="{{url_base}}/#noticias" {%  endif %}>
              <p class="text-9 py-2">Notícias.</p>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-item dropdown-item-mobile" data-hash="" data-hash-offset="68" {% if module|lower == 'site' %} href="#contactos" {% else %} href="{{url_base}}/#contactos" {%  endif %}>
              <p class="text-9 py-2">Contactos.</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-6 text-center">
          <a class="dropdown-item pr-0" href="javascript:void(0);">
            <button type="button" class="btn btn-menu-mobile text-orange rounded-0 text-5">Indústria</button>
          </a>
        </div>
        <div class="col-6 text-center">
          <a class="dropdown-item pl-0" href="javascript:void(0);">
            <button type="button" class="btn btn-menu-mobile text-lightgreen rounded-0 text-5">Sistemas</button>
          </a>
        </div>
      </div>
    </div>

    <button class="btn header-btn-collapse-nav mt-1">
      <span class="hamburguer-close menu-mobile-close">
        <span></span>
      </span>
    </button>
  </div>
</header>

<div role="main" class="main" id="home">
  {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %}
