<div class="modal fade in" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="#newsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-6">
          <img src="{{url_base}}/assets/img/news/detail/news-detail1.png" alt="imagem" class="img-fluid news-detail-img">
            <button type="button" class="close d-block d-lg-none" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="col-lg-6 p-lg-5">

            <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-hidden="true">&times;</button>

          <div class="row px-4">
            <div class="col-12 mt-5 pt-lg-5">
              <h2 class="black text-uppercase text-5 text-lg-4 m-0">Aquisição da Lingote Alumínios.</h2>
              <p class="italic light text-2 text-lg-1"><img src="{{url_base}}/assets/img/icons/clock.svg" alt="icon" class="img-fluid mr-2">Jan 2021</p>
              <div class="news-content">
                <p class="text-4 text-lg-3">
                  Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios, empresa criada em 1994 e sediada em Fafe que se dedica
                  à extrusão de perfis de alumínio e respetivo revestimento industrial.
                </p>
                <p class="text-4 text-lg-3">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios, empresa criada em 1994 e sediada em Fafe que se
                  dedica à extrusão de perfis de alumínio e respetivo revestimento industrial. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <p class="text-4 text-lg-3">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios, empresa criada em 1994 e sediada em Fafe que se
                  dedica à extrusão de perfis de alumínio e respetivo revestimento industrial. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <p class="text-4 text-lg-3">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios, empresa criada em 1994 e sediada em Fafe que se
                  dedica à extrusão de perfis de alumínio e respetivo revestimento industrial. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <p class="text-4 text-lg-3">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios, empresa criada em 1994 e sediada em Fafe que se
                  dedica à extrusão de perfis de alumínio e respetivo revestimento industrial. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <p class="text-4 text-lg-3">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios, empresa criada em 1994 e sediada em Fafe que se
                  dedica à extrusão de perfis de alumínio e respetivo revestimento industrial. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <p class="text-4 text-lg-3">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                  takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
