<div class="container container-lg mt-lg-5 pt-lg-5">
  <div class="row mt-5 pt-lg-5">
    <div class="col-12 mt-5 pt-5 mt-lg-0 pt-lg-0">
      <h2 class="text-uppercase text-11 black">Termos e condições<span class="text-red"> de utilização</span>.</h2>
    </div>
    <div class="col-12 mb-5 pb-5">
      <p>
        Estes Termos e condições de utilização estabelecem os termos aplicáveis à utilização e navegação da página da internet da Lingote Alumínios S.A., onde se encontra. Por favor, leia de forma atenta e cuidadosa a informação aqui constante antes
        de começar a utilizar esta página. Ao aceder e navegar nesta página, estará a concordar com estes termos de utilização. Se depois de os ler, não concordar com estes termos e condições de utilização, por favor, não utilize esta página de
        internet.
      </p>
      <p>
        A Lingote Alumínios S.A. reserva-se no direito de, a qualquer momento, alterar, modificar, adicionar ou remover cláusulas destes Termos e condições de utilização, sem aviso prévio.
      </p>
      <p>
        É da sua responsabilidade consultar regularmente estes Termos e condições de utilização a fim de verificar a existência de alterações. A utilização continuada desta página de internet, após a publicação de alterações, indicará que aceita e
        concorda com as mesmas.
      </p>
      <p>
        Desde que haja em conformidade com estes Termos e condições de utilização, a Lingote Alumínios S.A. concede-lhe o privilégio pessoal, não-exclusivo, não-transferível e limitado de aceder e navegar no presente website. No entanto, a Lingote
        Alumínios S.A. reserva-se o direito de, sem aviso prévio, limitar ou recusar o seu acesso aos nossos serviços e conteúdos, através desta página
      </p>
      <p class="bold"><span class="mr-3">1.</span>Propriedade Intelectual</p>
      <p>
        Todos os conteúdos digitais que encontrar nesta página (texto, gráficos, interfaces de utilizador, interfaces visuais, fotografias, vídeos, marcas registadas ou software informático) são da propriedade, controlo ou licenciamento da Lingote
        Alumínios S.A. ou dos respetivos fornecedores de conteúdos, estando protegidos pelas normas comerciais de copyright, patentes e outra legislação de marcas registadas, bem como por outros direitos de propriedade intelectual e leis de
        concorrência desleal. Exceto quando indicado expressamente nestes Termos e condições de utilização, não é permitido ao utilizador copiar, reproduzir, republicar, enviar, publicar, apresentar publicamente, codificar, traduzir, transmitir,
        partilhar ou distribuir de qualquer outra forma os conteúdos ou serviços desta página, para qualquer servidor ou qualquer outro suporte, para publicação, distribuição ou para quaisquer fins comerciais, sem autorização explícita e escrita da
        Lingote Alumínios S.A..
      </p>
      <p>
        No entanto, quando tal for possível, é permitido utilizar as informações sobre os conteúdos, eventos e serviços disponibilizados pela Lingote Alumínios S.A., propositadamente disponibilizadas nesta página, desde que este: <br>
        1) Não remova qualquer aviso de propriedade intelectual; <br> 2) O faça exclusivamente para fins pessoais e não comerciais; <br> 3) Não faça quaisquer alterações à informação.
      </p>
      <p class="bold"><span class="mr-3">2.</span>A sua utilização desta página</p>
      <p>
        A sua utilização desta página O acesso pelo utilizador aos serviços e conteúdos disponibilizados pela Lingote Alumínios S.A. através desta página ocorrerá mediante o cumprimento da legislação aplicável, segundo estes Termos e condições de
        utilização e apenas para fins legítimos. Deste modo, ao aceitar estes Termos e condições de utilização, o utilizador está a concordar em:
      </p>
      <ol class="list list-ordened pl-0">
        <li class="mb-0">
          <p class="mb-0">Não utilizar qualquer dispositivo, programa, metodologia, algoritmo automático ou qualquer processo manual semelhante ou equivalente para aceder, adquirir, copiar ou monitorizar qualquer parte desta página, bem como
            reproduzir, ou de
            qualquer forma, contornar a estrutura de navegação ou apresentação da página, para obter ou tentar obter quaisquer materiais, documentos ou informação através de quaisquer meios não disponibilizados propositadamente pela Lingote –
            Alumínios
            S.A.;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não tentar obter acesso não autorizado a qualquer parte ou funcionalidade desta página, bem como a quaisquer outros sistemas/redes ligados à página, servidor Lingote Alumínios S.A. ou a quaisquer dos serviços oferecidos,
            quer na página,
            quer através desta, por meio de hacking, exploração de palavra-passe ou qualquer outro meio ilegítimo;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não analisar ou testar a vulnerabilidade da página ou de qualquer rede ligada à mesma, não quebrando quaisquer medidas de segurança ou autenticação da página ou de qualquer rede a esta ligada</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não seguir qualquer informação relativa a outro utilizador ou visitante da página ou explorar qualquer dos serviços e informações por esta disponibilizada, de qualquer forma em que o objetivo seja o de revelar informação dos
            utilizadores,
            incluindo a informação ou identificação pessoal, que não seja a própria informação, conforme fornecida pela página;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não levar a cabo qualquer ação que imponha uma carga não razoável ou despropositadamente grande na infraestrutura da página, bem como nos sistemas e redes da Lingote Alumínios S.A. ou quaisquer sistemas e redes ligados a
            esta;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não utilizar qualquer dispositivo ou software que possa interferir ou tentar interferir com o correto funcionamento da página, com qualquer transação levada a cabo na página ou com a sua utilização por parte de qualquer
            outro utilizador;
          </p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não forjar cabeçalhos ou manipular outro dado identificador, de forma a ocultar a origem de qualquer reclamação ou sugestão enviada à Lingote Alumínios S.A. através desta página;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não simular que é/ou representa outra pessoa, nem imitar qualquer outro indivíduo ou entidade;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Não utilizar esta página para qualquer finalidade ilegal ou proibida por estes Termos e condições de utilização ou para outra atividade que infrinja ou lese os direitos da Lingote Alumínios S.A. ou dos seus parceiros.</p>
        </li>
      </ol>
      <p class="bold"><span class="mr-3">3.</span>Privacidade</p>
      <p>A política de privacidade da Lingote Alumínios S.A. aplica-se à utilização desta página e os seus termos são incluídos nestes Termos e condições de utilização por esta referência. Para visualizar a nossa Política de privacidade clique aqui
        [introduzir hiperlink].
        <br>
        Adicionalmente, ao utilizar esta página, reconhece e concorda que as transmissões através da Internet nunca são completamente privadas ou seguras. Compreende que qualquer mensagem ou informação enviada poderá ser lida ou intercetada por
        outros, mesmo que exista um aviso especial que essa transmissão em particular é encriptada.
      </p>
      <p class="bold"><span class="mr-3">4.</span>Avisos legais</p>
      <p>Toda a informação fornecida nesta página está sujeita a alteração sem aviso prévio. A Lingote Alumínios S.A. não garante que o descarregamento de qualquer material disponível nesta página esteja livre de vírus ou contaminação ou de
        funcionalidades destrutivas.</p>
      <br>
      A Lingote Alumínios S.A. declina todas as garantias, expressas ou implícitas, incluindo quaisquer garantias de precisão, não-infração, comercialização e adequação a um determinado fim.
      <p />
      <p>A Lingote Alumínios S.A. declina toda e qualquer responsabilidade pelos atos, omissões e condutas de terceiros em ligação com, ou relacionado, com a sua utilização desta página e/ou quaisquer serviços prestados.</p>
      <p>O utilizador assume a responsabilidade total pela sua utilização desta página e de quaisquer hiperligações que possa encontrar. A sua única solução contra a Lingote Alumínios S.A. por insatisfação com a página ou quaisquer dos seus conteúdos
        é parar de a utilizar.</p>
      <p>O aviso legal acima aplica-se a quaisquer danos, responsabilidade ou ferimentos causados por qualquer falha no desempenho, erro, omissão, interrupção, eliminação, defeito, atraso na operação ou transmissão, vírus informático, avaria na linha
        de comunicação, roubo ou destruição, acesso não autorizado, alteração, ou utilização, quer por quebra de contrato, ilícito civil, negligência ou qualquer outra causa de ação.</p>
      <p>A Lingote Alumínios S.A. reserva-se o direito de, a qualquer altura e sem aviso prévio, efetuar os seguintes procedimentos: <br></p>
      <ol class="list list-ordened pl-0">
        <li class="mb-0">
          <p class="mb-0">Modificar, suspender ou cancelar a utilização ou acesso a esta página por qualquer razão;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Modificar ou alterar esta página, quaisquer políticas ou termos aplicáveis;</p>
        </li>
        <li class="mb-0">
          <p class="mb-0">Interromper o funcionamento desta página, consoante o necessário para efetuar operações de manutenção, de rotina ou não, correção de erros ou outras alterações.</p>
        </li>
      </ol>
      <p class="bold"><span class="mr-3">5.</span>Limitação e exclusões de responsabilidade</p>
      <p>A Lingote Alumínios S.A. rejeita qualquer responsabilidade e não garante que os conteúdos disponibilizados através desta página estejam aptos a satisfazer quaisquer expetativas do utilizador, não garantido que qualquer erro informático ou
        humano seja corrigido imediatamente ou em determinado prazo.</p>
      <p>A Lingote Alumínios S.A. não é responsável perante o utilizador por quaisquer prejuízos que possam advir de falhas provocadas pela rede de comunicações ou serviços de comunicações prestados por terceiros, que possam afetar determinado
        equipamento ou impossibilitar a utilização e visualização de determinados conteúdos. Em suma, em caso algum será a Lingote Alumínios S.A. responsabilizada por quaisquer danos indiretos, consequenciais, exemplares, incidentais ou punitivos,
        mesmo que tenha sido alertada para a possibilidade de tais danos, exceto quando disposto diferentemente por lei.</p>
      <p class="bold"><span class="mr-3">6.</span>Hiperligações a outras páginas/plataformas digitais</p>
      <p>Esta página poderá conter hiperligações para outras páginas/plataformas digitais de terceiros independentes. A presença, a existir, nesta página de hiperligações para outras páginas/plataformas digitais são fornecidas exclusivamente para
        comodidade para os nossos visitantes. As páginas/plataformas digitais não se encontram sob o controlo da Lingote Alumínios S.A., que não poderá ser responsabilizada por qualquer perda ou dano sofrido pelo utilizador, não recomendando o
        conteúdo de tais páginas/plataformas digitais, incluindo qualquer informação ou materiais aí contidos. Deverá, por isso, efetuar o seu próprio julgamento independente, relativamente à interação que fizer com outras páginas/plataformas
        digitais através de hiperligações que encontrar nesta página.</p>
      <p class="bold"><span class="mr-3">7.</span>Responsabilidade do utilizador</p>
      <p>Ao abrigo destes Termos e condições de utilização, o utilizador concordará em indemnizar e desresponsabilizar a Lingote Alumínios S.A., os seus representantes, diretores, antecessores, sucessores e funcionários por quaisquer exigências,
        perdas, reclamações ou despesas (incluindo despesas judiciais), apresentadas contra a Lingote Alumínios S.A., decorrentes da sua utilização dos nossos serviços e conteúdos presentes nesta página ou da infração destes termos e condições</p>
      <p class="bold"><span class="mr-3">8.</span>Violação destes termos e condições de utilização</p>
      <p>A Lingote Alumínios S.A. poderá divulgar qualquer informação que possua a seu respeito (incluindo a sua identidade), caso se determine que tal divulgação é necessária para aferir de reclamação relativamente à utilização que faz desta página
        ou para identificar e instaurar os competentes meios judiciais ou extrajudiciais, contra aquele que cause danos ou interfira (intencionalmente ou sem intenção) com os direitos ou propriedade da Lingote Alumínios S.A. ou com os direitos ou
        propriedade de visitantes e utilizadores desta página.</p>
      <p>A Lingote Alumínios S.A. poderá também divulgar a sua informação quando determinar que a lei aplicável requer ou permite tal divulgação, incluindo a troca de informação com outras empresas ou organizações, por motivos de proteção contra
        fraude.</p>
      <p class="bold"><span class="mr-3">9.</span>Resolução de litígios (lei aplicável e foro)</p>
      <p> O utilizador concorda que todos os assuntos relacionados com o seu acesso e utilização desta página, incluindo todos os litígios, serão regidos e interpretados de acordo com a lei portuguesa. Qualquer reclamação sobre estes Termos e
        condições de utilização deverá ser apresentada no espaço de um (1) ano após a causa da ação ou reclamação surgir. Em caso de litígio que resulte da interpretação dos presentes Termos e condições de utilização é competente o foro da comarca de
        Braga, renunciando as partes expressamente a qualquer outro.</p>
      <p>Última atualização: Março de 2021</p>
    </div>
  </div>
</div>
