<!---------------------------- A LINGOTE  ---------------------------->

<section id="lingote" class="mb-lg-5 pb-lg-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 col-lg-5 pl-0"><img src="{{url_base}}/assets/img/gallery/red-square.png" alt="square" class="img-fluid red-square"></div>
    </div>
    <img src="{{url_base}}/assets/img/icons/line-center.svg" alt="line" class="line-center d-none d-lg-block">
    <div class="row">
      <div class="col-lg-6 pl-0 pr-lg-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/7YgvI1BRnPQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6 pt-2 px-4 px-lg-0">
        <div class="row">
          <div class="col-12 px-lg-5 mx-lg-5 mt-5 mt-lg-0">
            <h2 class="text-uppercase text-9 text-lg-11 black">A <span class="text-red">Lingote</span></h2>
          </div>
          <div class="col-lg-10 px-lg-5 mx-lg-5">
            <p class="text-4 text-lg-3">A Lingote Alumínios S.A. é uma das maiores empresas Portuguesas do setor de extrusão de perfis em alumínio. Situada no norte do país, em Fafe, a cerca de 45 minutos do Porto, a Lingote é um dos maiores
              empregadores do concelho, tendo
              atualmente mais de 250 trabalhadores.</p>
            <p class="text-4 text-lg-3"> Caracteriza-se por ser uma empresa verticalmente integrada, podendo oferecer, a par da extrusão de perfis, todo um conjunto de serviços adicionais. Além de 3 prensas de extrusão, a empresa dispõe de 1 linha de
              lacagem e 1 linha de
              anodização para fazer o tratamento de superfície de perfis, 1 área de maquinação com corte de precisão e máquinas CNC e 1 área de cravação de perfis.
            </p>
            <p class="text-4 text-lg-3"> A Lingote tem a capacidade de desenvolver produtos juntamente com os seus clientes, desde o esboço inicial até ao produto final. No seu gabinete de desenvolvimento, todos os dias, os clientes são acompanhados
              por técnicos
              especializados para transformar ideias em perfis de alumínio. Adicionalmente, a Lingote dispõe de um catálogo de produtos de caixilharia para arquitetura, que coloca à disposição dos seus clientes. Estes produtos incluem diversas
              soluções de abrir e de correr, com e sem corte térmico, assim como os respetivos acessórios.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------------------------- LINGOTE EM NÚMEROS  ---------------------------->

<div class="container-fluid bg-darkgrey mt-lg-5 py-5">
  <div class="row d-flex justify-content-center align-items-center mb-lg-5 pb-lg-5 ">
    <div class="col-12 text-lg-center">
      <h2 class="text-uppercase text-white text-lg-11 black my-5 d-none d-lg-block">A LINGOTE<span class="text-red"> EM NÚMEROS</span>.</h2>
      <h2 class="text-uppercase text-white text-9 text-lg-11 black my-5 d-block d-lg-none px-2">A LINGOTE <br><span class="text-red"> EM NÚMEROS</span>.</h2>
    </div>
    <div class="col-lg-4">
      <img src="{{url_base}}/assets/img/map/mapa.png" alt="mapa" class="img-fluid">
    </div>
    <div class="col-6 col-lg-2">
      <img src="{{url_base}}/assets/img/map/mapa_banner-1.png" alt="banner" class="img-fluid">
    </div>
    <div class="col-6 col-lg-2">
      <img src="{{url_base}}/assets/img/map/mapa_banner-2.png" alt="banner" class="img-fluid">
    </div>
    <div class="col-6 col-lg-2">
      <img src="{{url_base}}/assets/img/map/mapa_banner-3.png" alt="banner" class="img-fluid">
    </div>
    <div class="col-6 col-lg-2">
      <img src="{{url_base}}/assets/img/map/mapa_banner-4.png" alt="banner" class="img-fluid">
    </div>
  </div>
  <div class="row my-5 py-lg-5">
    <div class="col-lg-3 d-flex justify-content-lg-center">
      <h2 class="text-uppercase text-white text-9 text-lg-11 black px-2 px-lg-0 line-height-3">A nossa<span class="text-red"><br> história</span>.</h2>
    </div>
    <div class="col-lg-8 mb-lg-5 px-4 px-lg-0">
      <p class="text-white text-4 text-lg-3">A Lingote Alumínios, S.A. foi fundada em 1994, mas a sua história de sucesso começou antes. São mais de 40 anos de experiência acumulada no setor. Inicialmente, os seus fundadores, trabalhavam com os pais
        numa serralharia
        de ferro e de
        alumínio. Depois em 1980, abriram uma empresa de tratamento de superfície de perfis de alumínio no centro de Fafe, a FITAL – Custódio Mendes & Mendes Lda.
      </p>
      <p class="text-white text-4 text-lg-3">
        14 anos mais tarde é então fundada a Lingote Alumínios, S.A., empresa dedicada à extrusão de perfis, que cresceu em paralelo com a FITAL até 2015, ano em que se dá a fusão das 2 empresas.
      </p>
      <p class="text-white text-4 text-lg-3">O crescimento da empresa e o seu sucesso de vários anos atraíram novos investidores. O primeiro, a Oxy Capital, sociedade gestora de fundos de Private Equity, entrou em 2017 no capital da empresa. Em 2020,
        surge um novo
        investidor
        interessado na empresa, o Grupo Corialis, que adquire a totalidade da empresa, aos sócios naquela época: a Oxy Capital, e os dois irmãos fundadores Sr. Adelino Mendes e Sr. José Cândido Mendes.
      </p>
    </div>
  </div>
</div>

<!---------------------------- CAROUSSEL  ---------------------------->

<div class="owl-carousel owl-theme dots-modern"
  data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 2}}, 'loop': true, 'autoHeight': true, 'margin': 0, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
  <div>
    <img alt="slide" class="img-fluid rounded" src="{{url_base}}/assets/img/slides/slide/1.png">
  </div>
  <div>
    <img alt="slide" class="img-fluid rounded" src="{{url_base}}/assets/img/slides/slide/2.png">
  </div>
  <div>
    <img alt="slide" class="img-fluid rounded" src="{{url_base}}/assets/img/slides/slide/3.png">
  </div>
  <div>
    <img alt="slide" class="img-fluid rounded" src="{{url_base}}/assets/img/slides/slide/4.png">
  </div>
</div>

<!---------------------------- TIMELINE  ---------------------------->

<div class="container-fluid mt-lg-5 py-5">
  <div class="row">
    <div class="col-12 text-lg-center">
      <h2 class="text-uppercase text-9 text-lg-11 black my-5 py-3 px-2">Timeline<span class="text-red">.</span></h2>
    </div>
    <div class="col-12 text-center pb-5 mb-5 d-none d-lg-block">
      <img src="{{url_base}}/assets/img/timeline/timeline.png" alt="timeline" class="img-fluid py-5 mb-5">
    </div>
    <div class="col-12 text-center pb-5 mb-5 d-block d-lg-none">
      <img src="{{url_base}}/assets/img/mobile/timeline.png" alt="timeline" class="img-fluid py-2">
    </div>
  </div>
</div>

<!---------------------------- MISSÃO E VALORES ---------------------------->

{% if is_mobile %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div class="box-missao-mobile box-shadow">
        <h2 class="text-uppercase text-dark text-9 text-lg-11 black px-4">Missão e<span class="text-red"> valores</span>.</h2>
        <p class="text-4 text-lg-3 px-4">A Lingote Alumínios, S.A. tem como missão o desenvolvimento, concepção e fabrico de soluções inovadoras, robustas e tecnologicamente avançadas para a arquitetura e a indústria em geral, correspondendo às
          necessidades dos seus clientes.</p>
        <p class="text-4 text-lg-3 px-4">É uma empresa preocupada com a comunidade, que procura cuidar do presente e do futuro, garantindo que o seu crescimento económico tem por base boas práticas de gestão ambientais e atitudes socialmente
          responsáveis.</p>
        <img src="{{url_base}}/assets/img/gallery/missao.png" alt="missao" class="img-fluid w-100">
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="box-missao box-shadow">
        <h2 class="text-uppercase text-dark text-9 text-lg-11 black">Missão e<span class="text-red"> valores</span>.</h2>
        <p class="text-4 text-lg-3">A Lingote Alumínios, S.A. tem como missão o desenvolvimento, concepção e fabrico de soluções inovadoras, robustas e tecnologicamente avançadas para a arquitetura e a indústria em geral, correspondendo às
          necessidades dos seus clientes.</p>
        <p class="text-4 text-lg-3">É uma empresa preocupada com a comunidade, que procura cuidar do presente e do futuro, garantindo que o seu crescimento económico tem por base boas práticas de gestão ambientais e atitudes socialmente responsáveis.
        </p>
      </div>
    </div>
    <div class="col-7 px-0">
      <img src="{{url_base}}/assets/img/gallery/missao.png" alt="missao" class="w-100">
    </div>
  </div>
</div>
{% endif %}

<!---------------------------- SOBRE O GRUPO ---------------------------->

<div class="container-fluid bg-red mt-lg-5 pt-lg-5">
  <div class="row my-5 py-5 px-2 px-lg-0">
    <div class="col-lg-3 d-flex justify-content-lg-center">
      <h2 class="text-uppercase text-white text-9 text-lg-11 black title-line-height px-lg-5 mx-lg-5">Sobre o grupo<span class="text-dark"> Corialis</span>.</h2>
    </div>
    <div class="col-lg-8">
      <p class="text-white text-4 text-lg-3">Corialis (Core Innovative Aluminium Integrated Solutions) é um dos grupos líderes no desenvolvimento e produção de sistemas de perfis em alumínio de alta qualidade para a arquitectura. Estes sistemas
        incluem janelas,
        portas, sistemas de correr, de fachada e de jardim de inverno, assim como guardas de varanda.
      </p>
      <p class="text-white text-4 text-lg-3">
        Como empresa verticalmente integrada, a Corialis desenvolve as atividades de extrusão, cravação, lacagem e distribuição de sistemas em alumínio para milhares de fabricantes e instaladores em toda a Europa. Serve quer o sector de construção
        residencial, quer o de construção comercial, com especial foco nos mercados de renovação residencial e de pequenos edifícios comerciais.
      </p>
      <p class="text-white text-4 text-lg-3">
        Em 1984, a Corialis foi fundada como uma empresa familiar em Lokeren, na Bélgica. Graças à sua estratégia de integração vertical, a Corialis evoluiu de uma empresa familiar local para um dos líderes europeus do setor.
      </p>
      <p class="text-white text-4 text-lg-3">
        Além da sede e das instalações produtivas na Bélgica, a Corialis dispõe de várias fábricas em todo o mundo. As principais instalações são designadas por “Hubs” e estão localizadas em Lokeren (Bélgica), Montpellier (França), Bristol (Reino
      </p>
      <p class="text-white text-4 text-lg-3">
        Para conhecer melhor as capacidades técnicas ao
        nível industrial das diferentes empresas do grupo, <a href="javascript:void(0);" target="_blank" class="text-white"><u>faça o download da brochura corporativa.</u></a>
      </p>
      <div class="row">
        <div class="col-6 col-lg-3 pl-0">
          <img src="{{url_base}}/assets/img/logos/corialis.svg" alt="corialis" class="img-fluid">
        </div>
        <div class="col-6 col-lg-3">
          <img src="{{url_base}}/assets/img/logos/aliplast.svg" alt="aliplast" class="img-fluid">
        </div>
        <div class="col-6 col-lg-3">
          <img src="{{url_base}}/assets/img/logos/smart.svg" alt="smart" class="img-fluid">
        </div>
        <div class="col-6 col-lg-3">
          <img src="{{url_base}}/assets/img/logos/profils.svg" alt="profils" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------- MAPA ---------------------------->

{% if is_mobile %}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <img src="{{url_base}}/assets/img/mobile/mapa_mobile.png" alt="mapa" class="img-fluid mb-5 pb-5">
    </div>
  </div>
</div>
{% else %}
<div class="container-fluid mt-lg-5 pt-lg-5">
  <div class="row my-5 pb-5">
    <div class="col-12 text-center">
      <img src="{{url_base}}/assets/img/map/mapa_completo.png" alt="mapa" class="img-fluid mb-5 pb-5">
    </div>
  </div>
</div>
{% endif %}

<!---------------------------- CERTIFICAÇÕES ---------------------------->

{% if is_mobile %}
<section id="certificacoes" class="mt-lg-5 pt-lg-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="box-shadow">
          <h2 class="text-uppercase text-dark text-9 text-lg-11 black my-5 py-3 px-4">Certificações<span class="text-red">.</span></h2>
          <p class="text-5 text-lg-4 bold underline-red px-4">ISO9001</p>
          <p class="text-4 text-lg-2 px-4">Na permanente busca pela melhoria da sua competitividade e qualidade, a Lingote Alumínios obteve em 2005, a certificação do seu Sistema da Qualidade, segundo o referencial Normativo NP EN ISO 9001-2000 no
            âmbito da
            extrusão e comercialização de perfis de alumínio. Em 2009 avançou-se com o processo da certificação do Sistema da Qualidade NP EN ISO 9001-2008, abrangendo também os processos de tratamento de superfície de perfis de alumínio. A última
            versão da norma, foi lançada em 2015 (ISO 9001:2015), para a qual a Lingote já fez a transição.
            <br>
            Esta certificação demonstra que a empresa é capaz de fornecer produtos e serviços que vão ao encontro dos requisitos, tanto legais e regulatórios, como dos seus clientes. Anualmente é realizada uma auditoria pela empresa SGS ICS Serviços
            Internacionais de Certificação, Lda., entidade certificadora em Portugal, que analisa o Sistema de Gestão Qualidade da Lingote.
          </p>
          <p class="text-5 text-lg-4 bold underline-red px-4">ISO14001</p>
          <p class="text-4 text-lg-2 px-4">A Lingote obteve em 2015 a certificação NP EN ISO 14001:2015 - Sistemas de Gestão Ambiental (SGA) na Extrusão e mais tarde em 2020 foi ampliada à área de tratamentos de superfície. Esta certificação
            demonstra o compromisso
            da empresa com a proteção do meio ambiente, reforçando a sua imagem institucional, e acompanhando a constante evolução do mercado. Esta norma especifica os requisitos necessário para estabelecer e implementar um SGA eficaz. Os processos
            implementados para o cumprimento desta norma, são também auditados uma vez por ano, pela empresa externa SGS ICS Serviços Internacionais de Certificação, Lda., entidade certificadora em Portugal
          </p>
          <p class="text-5 text-lg-4 bold underline-red px-4">Qualicoat</p>
          <p class="text-4 text-lg-2 px-4">As Diretivas Qualicoat destinam-se a assegurar a elevada qualidade dos produtos revestidos destinados a aplicações arquiteturais qualquer que seja o tipo de processo de revestimento utilizado. Isto é feito
            através da
            definição e avaliação de requisitos mínimos para equipamentos, matérias-primas e produtos finais. Para que a sua licença seja renovada, a Lingote é inspecionada, sem aviso prévio, pelo menos duas vezes por ano nas quais deverá obter um
            resultado positivo.
          </p>
          <p class="text-5 text-lg-4 bold underline-red px-4">Qualanod</p>
          <p class="text-4 text-lg-2 px-4">As Diretivas Qualanod destinam-se a assegurar a qualidade de produtos anodizados, para aplicações industriais ou de arquitetura. Estas diretivas definem valores limite a cumprir, em termos de qualidade de
            produto e
            controlo de processo. Uma vez atribuída a certificação Qualanod, para a manter, a Lingote será inspecionada, sem aviso prévio, pelo menos duas vezes por ano, visitas nas quais deverá obter um resultado positivo. A Lingote Alumínios
            encontra-se em fase final de certificação Qualanod.
          </p>
          <p class="text-5 text-lg-4 bold underline-red px-4">QB 49</p>
          <p class="text-4 text-lg-2 px-4">O conjunto de normas QB – Qualité pour le Batîment – foi lançado pelo CSTB – Centre Scientifique et Technique du Batîment – em 2015 para simplificar a certificação de projetos no setor da construção em
            França, assegurando
            desse forma a qualidade e fiabilidade dos mesmos. A norma QB 49 define um conjunto de procedimentos aplicável ao processo de cravação de perfis com isolamento térmico, garantindo dessa forma a durabilidade e resistência destes perfis. A
            Lingote possui alguns dos seus sistemas certificados pela Norma QB 49 desde 2020.
          </p>
          <p class="text-5 text-lg-4 bold underline-red px-4">CLASSE+</p>
          <p class="text-4 text-lg-2 px-4">
            A ADENE – Agência para a Energia desenvolveu um sistema para combater a ausência de etiqueta energética para produtos utilizados na envolvente do edifício. Este tipo de etiquetagem tem como objetivo fornecer aos consumidores um método
            simples de comparação de produtos em termos de eficiência energética, tal como é feito nos eletrodomésticos, por exemplo. A classificação é feita de acordo com uma escala desde a classe menos eficiente “F”  até à classe mais eficiente
            “A+”. De momento a Lingote Alumínios tem vários sistemas de caixilharia registados no portal da CLASSE+, sendo que 6 sistemas de janela de abrir e 1 sistema de janela de correr obtiveram a classificação “A+”.
          </p>
          <div class="row d-flex justify-content-center">
            <div class="col-2 px-0">
              <img src="{{url_base}}/assets/img/logos/certificacoes/iso9001.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2 px-0">
              <img src="{{url_base}}/assets/img/logos/certificacoes/iso14001.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2 px-0">
              <img src="{{url_base}}/assets/img/logos/certificacoes/qualicoat.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2 px-0">
              <img src="{{url_base}}/assets/img/logos/certificacoes/qualite.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2 px-0">
              <img src="{{url_base}}/assets/img/logos/certificacoes/classemais.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-12 py-5 px-0">
              <img src="{{url_base}}/assets/img/mobile/certificacoes.png" alt="certificacoes" class="img-fluid w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% else %}
<section id="certificacoes" class="mt-lg-5 pt-lg-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 z-index-1">
        <div class="box-certificacoes box-shadow">
          <h2 class="text-uppercase text-dark text-9 text-lg-11 black">Certificações<span class="text-red">.</span></h2>
          <p class="text-5 text-lg-4 bold underline-red mt-5 pt-4">ISO9001</p>
          <p class="text-4 text-lg-2">ISO9001 Na permanente busca pela melhoria da sua competitividade e qualidade, a Lingote Alumínios obteve em 2005, a certificação do seu Sistema da Qualidade, segundo o referencial Normativo NP EN ISO 9001-2000 no
            âmbito da
            extrusão e comercialização de perfis de alumínio. Em 2009 avançou-se com o processo da certificação do Sistema da Qualidade NP EN ISO 9001-2008, abrangendo também os processos de tratamento de superfície de perfis de alumínio. A última
            versão da norma, foi lançada em 2015 (ISO 9001:2015), para a qual a Lingote já fez a transição.
            <br>
            Esta certificação demonstra que a empresa é capaz de fornecer produtos e serviços que vão ao encontro dos requisitos, tanto legais e regulatórios, como dos seus clientes. Anualmente é realizada uma auditoria pela empresa SGS ICS Serviços
            Internacionais de Certificação, Lda., entidade certificadora em Portugal, que analisa o Sistema de Gestão Qualidade da Lingote.
          </p>
          <p class="text-5 text-lg-4 bold underline-red">ISO14001</p>
          <p class="text-4 text-lg-2">A Lingote obteve em 2015 a certificação NP EN ISO 14001:2015 - Sistemas de Gestão Ambiental (SGA) na Extrusão e mais tarde em 2020 foi ampliada à área de tratamentos de superfície. Esta certificação demonstra o
            compromisso
            da empresa com a proteção do meio ambiente, reforçando a sua imagem institucional, e acompanhando a constante evolução do mercado. Esta norma especifica os requisitos necessário para estabelecer e implementar um SGA eficaz. Os processos
            implementados para o cumprimento desta norma, são também auditados uma vez por ano, pela empresa externa SGS ICS Serviços Internacionais de Certificação, Lda., entidade certificadora em Portugal
          </p>
          <p class="text-5 text-lg-4 bold underline-red">Qualicoat</p>
          <p class="text-4 text-lg-2">As Diretivas Qualicoat destinam-se a assegurar a elevada qualidade dos produtos revestidos destinados a aplicações arquiteturais qualquer que seja o tipo de processo de revestimento utilizado. Isto é feito
            através da
            definição e avaliação de requisitos mínimos para equipamentos, matérias-primas e produtos finais. Para que a sua licença seja renovada, a Lingote é inspecionada, sem aviso prévio, pelo menos duas vezes por ano nas quais deverá obter um
            resultado positivo.
          </p>
          <p class="text-5 text-lg-4 bold underline-red">Qualanod</p>
          <p class="text-4 text-lg-2">As Diretivas Qualanod destinam-se a assegurar a qualidade de produtos anodizados, para aplicações industriais ou de arquitetura. Estas diretivas definem valores limite a cumprir, em termos de qualidade de produto
            e
            controlo de processo. Uma vez atribuída a certificação Qualanod, para a manter, a Lingote será inspecionada, sem aviso prévio, pelo menos duas vezes por ano, visitas nas quais deverá obter um resultado positivo. A Lingote Alumínios
            encontra-se em fase final de certificação Qualanod.
          </p>
          <p class="text-5 text-lg-4 bold underline-red">QB 49</p>
          <p class="text-4 text-lg-2">O conjunto de normas QB – Qualité pour le Batîment – foi lançado pelo CSTB – Centre Scientifique et Technique du Batîment – em 2015 para simplificar a certificação de projetos no setor da construção em França,
            assegurando
            desse forma a qualidade e fiabilidade dos mesmos. A norma QB 49 define um conjunto de procedimentos aplicável ao processo de cravação de perfis com isolamento térmico, garantindo dessa forma a durabilidade e resistência destes perfis. A
            Lingote possui alguns dos seus sistemas certificados pela Norma QB 49 desde 2020.
          </p>
          <p class="text-5 text-lg-4 bold underline-red">CLASSE+</p>
          <p class="text-4 text-lg-2">
            A ADENE – Agência para a Energia desenvolveu um sistema para combater a ausência de etiqueta energética para produtos utilizados na envolvente do edifício. Este tipo de etiquetagem tem como objetivo fornecer aos consumidores um método
            simples de comparação de produtos em termos de eficiência energética, tal como é feito nos eletrodomésticos, por exemplo. A classificação é feita de acordo com uma escala desde a classe menos eficiente “F”  até à classe mais eficiente
            “A+”. De momento a Lingote Alumínios tem vários sistemas de caixilharia registados no portal da CLASSE+, sendo que 6 sistemas de janela de abrir e 1 sistema de janela de correr obtiveram a classificação “A+”.
          </p>
          <div class="row my-5">
            <div class="col-2">
              <img src="{{url_base}}/assets/img/logos/certificacoes/iso9001.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2">
              <img src="{{url_base}}/assets/img/logos/certificacoes/iso14001.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2">
              <img src="{{url_base}}/assets/img/logos/certificacoes/qualicoat.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2">
              <img src="{{url_base}}/assets/img/logos/certificacoes/qualite.svg" alt="certificacao" class="img-fluid">
            </div>
            <div class="col-2">
              <img src="{{url_base}}/assets/img/logos/certificacoes/classemais.svg" alt="certificacao" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 px-0 z-index-2 mt-5 pt-5">
        <img src="{{url_base}}/assets/img/gallery/certificacoes.png" alt="certificacoes" class="w-100">
      </div>
    </div>
  </div>
</section>
{% endif %}


<!---------------------------- RECRUTAMENTO (DESKTOP APENAS) ---------------------------->

<section id="recrutamento" class="bg-darkgrey mb-lg-5 pt-lg-5 pb-lg-3">
  <div class="container-xl">
    <div class="row my-5 py-5">
      <div class="col-12">
        <h2 class="text-uppercase text-white text-5 text-lg-11 black mb-3 mt-4 mt-lg-0 mb-lg-5 pb-lg-5 ml-3">Recrutamento<span class="text-red">.</span></h2>
      </div>
      <div class="container container-lg">
        <div class="col-12">
          <p class="text-white text-4 bold">A Lingote Alumínios é uma empresa em constante crescimento com ecessidade reforçar as suas equipas regularmente. Se estiveres interessado em trabalhar numa grande empresa, que é uma referência do seu setor
            em Portugal, preenche o seguinte formulário:</p>
        </div>
        <form id="recruitmentForm" action="javascript:void(0);" method="POST" novalidate="novalidate" class="px-4">
          <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
            A sua mensagem foi enviada!
          </div>
          <div class="contact-form-error alert alert-danger d-none" id="contactError">
            Erro ao enviar mensagem!
            <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
          </div>
          <div class="form-row">
            <div class="form-group-contact col-12 my-3">
              <input type="text" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="email" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="text" data-msg-required="Por favor preencha a sua data de nascimento." maxlength="100" class="form-control" name="birth" required="" placeholder="Data de Nascimento">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="tel" data-msg-required="Por favor preencha o seu telefone" maxlength="100" class="form-control" name="postal" required="" placeholder="Telefone">
            </div>
            <div class="form-group-contact col-12 my-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label-frutasclasse" for="customFile">Curriculo</label>
                <img src="{{url_base}}/assets/img/icons/anexo.svg" alt="Anexo" class="img-fluid float-right mb-1">
              </div>
            </div>
            <div class="form-group-contact col-12 my-3">
              <div class="row">
                <div class="col-lg-8">
                  <input type="checkbox" id="checkbox" name="checkbox">
                  <label for="checkbox" class="checkbox-label text-2">Eu aceito as condições da política de privacidade.</label>
                </div>
                <div class="col-lg-4">
                  <button type="submit" class="btn btn-outline btn-light float-right">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!---------------------------- NOTÍCIAS ---------------------------->

<section id="noticias" class="my-lg-5 pt-lg-5">
  <div class="container container-xl">
    <div class="row my-5 py-5 px-4 px-lg-0">
      <div class="col-12 px-0">
        <h2 class="text-uppercase text-white text-9 text-lg-11 black text-dark">Notícias<span class="text-red">.</span></h2>
      </div>
      <div class="blog-posts">
        <div class="row">
          <div class="col-lg-6 pr-lg-5 mt-5">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/1.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="noticia" />
                </a>
              </div>
              <div class="post-content">
                <h2 class="text-4 mt-4 mb-3">Aquisição da Lingote Alumínios.</h2>
                <p class="regular text-3 mb-2">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios. Empresa criada em …</p>
                <div class="post-meta">
                  <span><img src="{{url_base}}/assets/img/icons/news-clock.svg" alt="clock">
                    <p class="italic date text-2 text-lg-1 d-inline ml-2">Jan 2020</p>
                  </span>
                  <button class="float-right text-4 text-lg-2 modal-button" data-toggle="modal" data-target="#newsModal">Ver mais<img src="{{url_base}}/assets/img/icons/news-arrow.svg" alt="arrow" class="ml-2"></button>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-6 pl-lg-5 mt-5">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/2.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="noticia" />
                </a>
              </div>
              <div class="post-content">
                <h2 class="text-4 mt-4 mb-3">Aquisição da Lingote Alumínios.</h2>
                <p class="regular text-3 mb-2">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios. Empresa criada em …</p>
                <div class="post-meta">
                  <span><img src="{{url_base}}/assets/img/icons/news-clock.svg" alt="clock">
                    <p class="italic date text-2 text-lg-1 d-inline ml-2">Jan 2020</p>
                  </span>
                  <button class="float-right text-4 text-lg-2 modal-button" data-toggle="modal" data-target="#newsModal">Ver mais<img src="{{url_base}}/assets/img/icons/news-arrow.svg" alt="arrow" class="ml-2"></button>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-6 pr-lg-5 mt-4">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/3.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="noticia" />
                </a>
              </div>
              <div class="post-content">
                <h2 class="text-4 mt-4 mb-3">Aquisição da Lingote Alumínios.</h2>
                <p class="regular text-3 mb-2">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios. Empresa criada em …</p>
                <div class="post-meta">
                  <span><img src="{{url_base}}/assets/img/icons/news-clock.svg" alt="clock">
                    <p class="italic date text-2 text-lg-1 d-inline ml-2">Jan 2020</p>
                  </span>
                  <button class="float-right text-4 text-lg-2 modal-button" data-toggle="modal" data-target="#newsModal">Ver mais<img src="{{url_base}}/assets/img/icons/news-arrow.svg" alt="arrow" class="ml-2"></button>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-6 pl-lg-5 mt-4">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/4.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="noticia" />
                </a>
              </div>
              <div class="post-content">
                <h2 class="text-4 mt-4 mb-3">Aquisição da Lingote Alumínios.</h2>
                <p class="regular text-3 mb-2">Aquisição do controlo exclusivo da Lingote Alumínios, pelo grupo Corialis, através da sua subsidiária integralmente detida, Aliplast, do controlo exclusivo da Lingote Alumínios. Empresa criada em …</p>
                <div class="post-meta">
                  <span><img src="{{url_base}}/assets/img/icons/news-clock.svg" alt="clock">
                    <p class="italic date text-2 text-lg-1 d-inline ml-2">Jan 2020</p>
                  </span>
                  <button class="float-right text-4 text-lg-2 modal-button" data-toggle="modal" data-target="#newsModal">Ver mais<img src="{{url_base}}/assets/img/icons/news-arrow.svg" alt="arrow" class="ml-2"></button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      {% include 'Includes/noticias_detalhe.html' %}
      <div class="col-12 text-center">
        <button type="button" class="btn btn-outline btn-quaternary rounded-0 my-lg-5 text-4 text-lg-2">Carregar mais notícias</button>
      </div>
    </div>
  </div>
</section>

<!---------------------------- CONTACTOS ---------------------------->

<section id="contactos">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 bg-red z-index-1 box-contacto">
        <h2 class="text-uppercase text-white text-9 text-lg-11 black text-white">CONTACTE-<span class="text-dark">NOS</span>.</h2>
        <div class="row">
          <div class="col-12">
            <ul class="list list-icons">
              <li class="py-1"><img src="{{url_base}}/assets/img/icons/contacts/localizacao.svg" alt="icon">
                <p class="text-4 text-lg-3 text-white medium d-inline">Zona Industrial do Socorro, Lote 82 <br> 4820 - 570 - Fafe Portugal</p>
              </li>
              <li class="py-1"><img src="{{url_base}}/assets/img/icons/contacts/mobile.svg" alt="icon">
                <p class="text-4 text-lg-3 text-white medium d-inline">Tel: +351 253 490 490 <br> Fax: +351 253 597 666</p>
              </li>
              <li class="py-1"><img src="{{url_base}}/assets/img/icons/contacts/envelope.svg" alt="icon">
                <p class="text-4 text-lg-3 text-white medium d-inline">lingote@lingote.com</p>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <ul class="list list-icons">
              <p class="text-uppercase text-white text-4 black text-white mt-5">Departamento Comercial</p>
              <li class="py-1"><img src="{{url_base}}/assets/img/icons/contacts/envelope.svg" alt="icon">
                <p class="text-4 text-lg-3 text-white medium d-inline">comercial@lingote.com</p>
              </li>
              <p class="text-uppercase text-white text-4 black text-white mt-5">Recursos Humanos</p>
              <li class="py-1"><img src="{{url_base}}/assets/img/icons/contacts/envelope.svg" alt="icon">
                <p class="text-4 text-lg-3 text-white medium d-inline">rh@lingote.com</p>
              </li>
              <p class="text-uppercase text-white text-4 black text-white mt-5">Departamento Financeiro</p>
              <li class="py-1"><img src="{{url_base}}/assets/img/icons/contacts/envelope.svg" alt="icon">
                <p class="text-4 text-lg-3 text-white medium d-inline">contabilidade@lingote.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% if is_mobile %}
      <div class="col-12 bg-darkgrey box-contacto-form-mobile px-4 pb-5">
        <p class="text-white text-5 text-uppercase black mt-5">RESPONDEREMOS O MAIS BREVEMENTE POSSÍVEL.</p>
        <form id="contactForm" action="javascript:void(0);" method="POST" novalidate="novalidate">
          <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
            A sua mensagem foi enviada!
          </div>
          <div class="contact-form-error alert alert-danger d-none" id="contactError">
            Erro ao enviar mensagem!
            <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
          </div>
          <div class="form-row">
            <div class="form-group-contact col-12 my-3">
              <input type="text" value="" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="email" value="" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="text" value="" data-msg-required="Por favor indique o assunto." maxlength="100" class="form-control" name="subject" required="" placeholder="Assunto">
            </div>
            <div class="form-group-contact col-12 my-3">
              <textarea maxlength="2000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control" name="message" id="message" required></textarea>
            </div>
            <div class="form-group-contact col-12 my-3 pb-5">
              <div class="row">
                <div class="col-lg-8">
                  <input type="checkbox" id="checkbox" name="checkbox">
                  <label for="checkbox" class="checkbox-label text-2">Eu aceito as condições da política de privacidade.</label>
                </div>
                <div class="col-lg-4">
                  <button type="submit" class="btn btn-outline btn-light float-right text-4 mt-3">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      {% else %}
      <div class="col-7 bg-darkgrey box-contacto-form z-index-2">
        <p class="text-white text-4 text-uppercase black">RESPONDEREMOS O MAIS BREVEMENTE POSSÍVEL.</p>
        <form id="contactForm" action="javascript:void(0);" method="POST" novalidate="novalidate">
          <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
            A sua mensagem foi enviada!
          </div>
          <div class="contact-form-error alert alert-danger d-none" id="contactError">
            Erro ao enviar mensagem!
            <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
          </div>
          <div class="form-row">
            <div class="form-group-contact col-12 my-3">
              <input type="text" value="" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="email" value="" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="text" value="" data-msg-required="Por favor indique o assunto." maxlength="100" class="form-control" name="subject" required="" placeholder="Assunto">
            </div>
            <div class="form-group-contact col-12 my-3">
              <textarea maxlength="2000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control" name="message" id="message" required></textarea>
            </div>
            <div class="form-group-contact col-12 my-3">
              <div class="row">
                <div class="col-10">
                  <input type="checkbox" id="checkbox" name="checkbox">
                  <label for="checkbox" class="checkbox-label text-2">Eu aceito as condições da política de privacidade.</label>
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-outline btn-light float-right">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</section>
